body {
  margin: 0;
  padding: 0.625rem;
}

.service-category-main-list {
  padding: 0;
}

.card-container {
  margin-bottom: 0.3125rem;
}

.card-container.inactive-collapsible {
  div button {
    transform: rotate(180deg);
    vertical-align: middle;
  }

  .card-title-container {
    border-left: 0.25rem solid #999595;
    transition: all 0.6s ease-in-out;
  }

  .card-lists-container {
    max-height: 0;
    opacity: 0.2;
    transition: all 0.6s ease-in-out;
  }
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 0.625rem;
  border-bottom: 0.0625rem solid white;
  border-left: 0.25rem solid black;
  transition: all 0.6s linear;

  button {
    width: 1.875rem;
    height: 1.25rem;
    border: none;
    background: transparent;
    padding: 0;
    outline-color: black;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
    i {
      vertical-align: auto;
    }
  }
  h2 {
    margin: 0 0 0.3125rem;
  }
}

.card-lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-height: 62.5rem;
  opacity: 1;
  overflow: hidden;
  transition: all 0.8s ease-in-out;

  div {
    padding: 0.9375rem 0.625rem;
  }

  h3 {
    margin: 0 0 0.625rem;
  }

  ul {
    padding: 0 0 0 1.25rem;
    li span {
      font-size: 14px;
      font-style: oblique;
    }
  }
}

@media all and (max-width: 572px) {
  .card-lists-container {
    grid-template-columns: 1fr;
  }
}
